header {
    grid-area: head;
    background-color: blueviolet;
}

.nav-bar {
    grid-area: nav;
    background-color: red;
}

main {
    grid-area: main;
    background-color: yellow;
}

footer {
    grid-area: footer;
    background-color: blue;
}

body {
    display: grid;
    height: 600px;
    grid-template-areas:    "head head"
                            "nav main"
                            "footer footer";
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 150px 1fr;
}